<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />-->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="host" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="username" value="hansamaligamage@gmail.com" />
    <add key="password" value="QueenSeonduk2016" />
  </appSettings>
  <connectionStrings>
    <add name="EmailServiceContext" connectionString="server=localhost;database=EmailService;Integrated Security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="E:\MyProjects\Email\EmailApp\EmailService\log.txt" layout="${longdate} ${callsite} ${callsite-linenumber} ${date} ${level} ${message}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>-->
</configuration>